# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
backend/.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Проект
backend/uploads/*
!backend/uploads/.gitkeep
backend/db.json
